
<section class="breadcrumb__area fix" data-background="assets/img/bg/breadcrumb-bg.png">
  <div class="breadcrumb__bg-shape"></div>
  <div class="container">
      <div class="row align-items-center">
          <div class="col-xl-6">
              <div class="breadcrumb__content">
                  <h3 class="title"> Our Staff</h3>
              </div>
          </div>
          <div class="col-xl-6">
              <div class="breadcrumb-wrap">
                  <nav class="breadcrumb">
                      <span property="itemListElement" typeof="ListItem">
                          <a href="index.html">Home</a>
                      </span>
                      <span class="breadcrumb-separator">/</span>
                      <span property="itemListElement" typeof="ListItem">Staff</span>
                  </nav>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- breadcrumb-area-end -->
    <section class="about-area-4 pb-120 overflow-hidden">
        <div class="container">
            <div class="about-wrap4">
                <div class="row gx-80 gy-5 align-items-center">
                    <div class="col-md-5">
                        <div class="about-thumb4-1">
                            <div class="img1 image-anim">
                                <img src="assets/img/team/manager.png" alt="img">
                            </div>

                            <div class="about-experience-wrap movingX">
                                <h3 class="counter-title"><span class="counter-number">10</span>+</h3>
                                <span class="counter-text">Years
                                    of Experience</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="section__title mb-50">
                            <span class="sub-title text-anim">The Risk Manager</span>

                        </div>

                        <div class="tab-content mt-25">
                            <div class="tab-pane fade show active" id="aboutTab1" role="tabpanel" aria-labelledby="about-tab1">
                                <p class="mb-0">Businesses that maintain a healthy financial position are better equipped to invest in innovation, expand into new markets, and weather economic downturns. For startups and small enterprises</p>
                            </div>
                            <div class="tab-pane fade" id="aboutTab2" role="tabpanel" aria-labelledby="about-tab2">
                                <p class="mb-0">Businesses that maintain a healthy financial position are better equipped to invest in innovation, expand into new markets, and weather economic downturns. For startups and small enterprises</p>
                            </div>
                            <div class="tab-pane fade" id="aboutTab3" role="tabpanel" aria-labelledby="about-tab3">
                                <p class="mb-0">Businesses that maintain a healthy financial position are better equipped to invest in innovation, expand into new markets, and weather economic downturns. For startups and small enterprises</p>
                            </div>
                        </div>
                     
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--======== / About Section ========-->

    <section class="team-area-2 pt-120 pb-120 overflow-hidden">
      <div class="container">
        <div class="section__title text-center mb-5">
          <span class="sub-title">Risk & Compliance Organogram</span>
          <h2 class="title">Our Structure</h2>
        </div>
        <div class="tree text-center">
          <ul class="organogram">
            <li class="manager-node">
              <!-- Manager Node -->
              <div class="team-card">
                <img src="assets/img/team/manager.png" class="rounded-circle mb-2" alt="">
                <h5>Manager</h5>
                <small>Mr. John Doe</small>
                <p class="mb-1 text-muted">MBA, BCom Business Management</p>
                <p class="mb-1 text-muted">Certifications: PMP, ISO 9001 Auditor</p>
                <p class="mb-0 text-muted">Email: johndoeexample.com<br>Phone: +263 777 000 000</p>
              </div>
              <ul class="reports">
                <li class="data-protection-officer">
                  <div class="team-card data-protection">
                    <img src="assets/img/jnr.jpeg" class="rounded-circle mb-2" alt="">
                    <h5>Data Protection Officer</h5>
                    <p>Mr. T Chiwawa</p>
                    <p class="mb-1 text-muted small text-bold">BTech Hons In Information Security & Assurance (HIT)</p>
                    <p class="mb-1 text-muted small">Certified Data Protection Officer (POTRAZ) | Oracle Cloud Foundations Associate (ORACLE) |  
                      Certificate In Higher and Tertiary Education (HIT)</p>
                
                  </div>
                </li>
        
                <li class="risk-officers">
                  <ul>
                    <li>
                      <div class="team-card">
                        <img src="assets/img/mh.png" class="rounded-circle mb-2" alt="">
                        <h5>Risk Management Officer</h5>
                        <small>Mrs. T Maherani</small>
                        <p class="mb-1 text-muted small ">MSc In Professional Accounting & Corporate Governance (GZU).</p>
                        <p class="mb-1 text-muted small ">BSc In Accountancy (ZOU).</p>
                        <p class="mb-1 text-muted small">Associate - Chartered Governance & Accountancy Institute of Zimbabwe (CGIZ)</p>
                        <p class="mb-1 text-muted small " >Registered Member - Institute of Internal Auditors Zimbabwe (IIAZ)</p>
                        <p class="mb-0 text-muted small ">Registered Public Accountant - PAAB.</p>
                      </div>
                    </li>
        
                    <li>
                      <div class="team-card">
                        <img src="assets/img/mt.png" class="rounded-circle mb-2" alt="">
                        <h5>Risk Management Officer</h5>
                        <small>Mr. J Mutanho</small>
                        <p class="mb-1 text-muted small">MSc In Strategic Management Degree (CUT)</p>
                        <p class="mb-1 text-muted small">BSc In Administration Honours Degree in Police & Security Studies (BUSE)</p>
                        <p class="mb-0 text-muted small">Diploma in Business Administration in Security and Risk Management (MSU)</p>
                      </div>
                      <ul>
                        <li>
                          <div class="team-card">
                            <img src="assets/img/tf.png" class="rounded-circle mb-2" alt="">
                            <h5>Risk Attachee</h5>
                            <small>Mr T Utsihwegota</small>
                            <p class="mb-1 text-muted small">BSc In Risk Reduction & Disaster Management (Student Attachee)</p>
               
                          </div>
                        </li>
                      </ul>
                    </li>
        
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        
      </div>
    </section>



    <!--======== / Team Section ========-->
