<section class="breadcrumb__area fix" data-background="assets/img/bg/breadcrumb-bg.png">
  <div class="breadcrumb__bg-shape"></div>
  <div class="container">
      <div class="row align-items-center">
          <div class="col-xl-6">
              <div class="breadcrumb__content">
                  <h3 class="title">About Us</h3>
              </div>
          </div>
          <div class="col-xl-6">
              <div class="breadcrumb-wrap">
                  <nav class="breadcrumb">
                      <span property="itemListElement" typeof="ListItem">
                          <a href="index.html">Home</a>
                      </span>
                      <span class="breadcrumb-separator">/</span>
                      <span property="itemListElement" typeof="ListItem">about</span>
                  </nav>
              </div>
          </div>
      </div>
  </div>
</section>
<section class="about-area-4 pb-120 overflow-hidden mt-5">
  <div class="container mt-5">
      <div class="about-wrap4">
          <div class="row gx-80 gy-5 align-items-center">
              <div class="col-xl-5">
                  <div class="about-thumb4-1">
                      <div class="img1 image-anim">
                          <img src="assets/img/risk6.jpg" alt="img">
                      </div>

                      <div class="about-experience-wrap movingX">

                          <span class="counter-text">Building Risk Intelligence</span>
                      </div>
                  </div>
              </div>
              <div class="col-xl-7">
                  <div class="section__title mb-50">
                      <span class="sub-title text-anim">About Us</span>
                      <p class=" text-anim2 text-justify"> Our Risk Management Unit is committed to fostering a proactive risk-aware culture across the University and its Strategic Business Units (SBUs). Our mandate is to provide effective risk oversight and guidance, ensuring that potential risks are identified, assessed, and addressed in a timely and efficient manner.

                        We believe that risk management is everyone's responsibility. As such, we are dedicated to equipping staff members across the University and its SBUs with the necessary knowledge and skills to become risk-conscious and actively contribute to the prevention and mitigation of risks in their respective roles.

                        <br><br>Our team continuously monitors and evaluates the effectiveness of risk management strategies to ensure they remain relevant and responsive to the dynamic operating environment of the University. We are also focused on establishing robust systems for early identification and reporting of potential business risks, allowing management to take informed and timely remedial actions.

                        Through collaboration, training, and continuous improvement, we strive to create a safe, resilient, and sustainable environment where CUT can thrive in the face of uncertainty
                      </p>
                  </div>
                  <ul class="nav nav-tabs about-tabs">

                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="about-tab1" data-bs-toggle="tab" data-bs-target="#aboutTab1" type="button" role="tab" aria-controls="aboutTab1" aria-selected="true">Our Values</button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="about-tab2" data-bs-toggle="tab" data-bs-target="#aboutTab2" type="button" role="tab" aria-controls="aboutTab2" aria-selected="false">Our Vision</button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="about-tab3" data-bs-toggle="tab" data-bs-target="#aboutTab3" type="button" role="tab" aria-controls="aboutTab3" aria-selected="false">Our Mission</button>
                    </li>

                </ul>

                <div class="tab-content mt-25">

                    <div class="tab-pane fade show active" id="aboutTab1" role="tabpanel" aria-labelledby="about-tab1">
                      <div class="tab-pane fade show active" id="aboutTab1" role="tabpanel" aria-labelledby="about-tab1">
                        <div class="mb-0">

                            <span class="badge rounded-pill bg-primary me-1">Integrity</span>
                            <span class="badge rounded-pill bg-success me-1">Accountability</span>
                            <span class="badge rounded-pill bg-danger me-1">Excellence</span>
                            <span class="badge rounded-pill bg-warning text-dark me-1">Transparency</span>
                            <span class="badge rounded-pill bg-secondary me-1">Risk Consciousness</span>
                            <span class="badge rounded-pill bg-info text-dark me-1">Teamwork</span>


                        </div>
                    </div>

                    </div>

                    <div class="tab-pane fade" id="aboutTab2" role="tabpanel" aria-labelledby="about-tab2">
                        <p class="mb-0">
                            To be a leading enabler of a risk-conscious culture, fostering resilience, sustainability, and strategic growth across Chinhoyi University of Technology and its Strategic Business Units.
                        </p>
                    </div>

                    <div class="tab-pane fade" id="aboutTab3" role="tabpanel" aria-labelledby="about-tab3">
                        <p class="mb-0">
                            To provide proactive risk oversight, promote risk awareness, and strengthen risk management capabilities through continuous monitoring, training, and innovative strategies — ensuring that potential risks are identified early, effectively managed, and transformed into opportunities for institutional excellence.
                        </p>
                    </div>

                </div>



              </div>
          </div>
      </div>
  </div>
</section>
  <!-- contact-map -->
  <div class="pt-120 pb-120">

    <div class="container">
 
      <h5 class="text-center mb-4" style="color: #caa350;">WHERE TO FIND US?</h5>
      <div class="col-md-12">
       <div class="row">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4685.891990505725!2d30.203256176053905!3d-17.353288963271506!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1930b45ff1c0d3e1%3A0x82b212a87e7abd8e!2sChinhoyi%20University%20of%20Technology!5e1!3m2!1sen!2szw!4v1744193556102!5m2!1sen!2szw" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    
       </div>
      </div>
  </div>
</div>
<!-- contact-map-end -->