.bg-primary-50 {
  background-color: #eff6ff;
}
.bg-primary-600 {
  background-color: #2563eb;
}
.bg-primary-700 {
  background-color: #1d4ed8;
}
.text-primary-600 {
  color: #2563eb;
}

.bg-black {
  background-color:#00000089 !important;
}
